<template name="admin">

 {{> headerMobile pageTitle="Admin Area"}}

{{#if currentUser}}

	<!-- LIST OF CURRENT COFFEE SHOPS -->
	<div class="content">
	   	<ul class="admin-cafe-list"> 
	   	
		   	{{#each Coffeeshops}}
					<li class="coffeeshop">				
							<h3 class="coffeeshop-list-item">{{name}}</h3>
							<a class="edit" href="{{pathFor 'coffeeshopUpdate'}}">Edit</a>
							<hr>
					</li>
			{{/each}}
	
		</ul>
	
		<!-- ADD NEW COFFEE SHOP-->
		<a href="/coffeeshop/create" class="add button">Add A New Coffee Shop</a>
	</div>

{{/if}}

</template>
