<!-- FOOTER -->

<template name="footer">  

    <nav id="footer" class="bar bar-tab">
        <a href="{{pathFor 'coffeeshopList'}}" class="tab-item {{isActive menu='coffeeshopList' active=getCurrentRoute}}">
            <i class="fa fa-coffee"></i>
            <span class="tab-label">Coffeeshops</span>
        </a>
        <a href="{{pathFor 'about'}}" class="tab-item {{isActive menu='about' active=getCurrentRoute}}">
			<i class="fa fa-book"></i>            
			<span class="tab-label">About</span>
        </a>
    </nav>

</template>
