<template name="form">
         <form hook="form">
        <label for="name">Name: </label>
        <input type="text" id="name" name="name" placeholder="Name" value="{{name}}" /><br>
        <label for="placeid">Place ID: </label>
        <input type="text" id="placeid" name="placeid" placeholder="Google Place ID" value="{{placeid}}" /><br>
        <label for="csimage">Image URL: </label>
        <input type="text" id="csimage" name="csimage" placeholder="Image URL" value="{{csimage}}" /><br>
        <label for="lat">Latitude: </label>
        <input type="lat" id="lat" name="lat" placeholder="Latitude" value="{{lat}}" /><br>
        <label for="lng">Longitude: </label>
        <input type="text" id="lng" name="lng" placeholder="Longitude" value="{{lng}}" /><br>
        <label for="description">Description: </label>
        <textarea type="text" id="description" name="description" placeholder="Description" value="{{description}}"></textarea><br>
        {{#if _id}}
            <button class="button" type="submit">Update Coffee Shop</button>
            <a href="#" hook="delete-cafe" class="delete button" id="delete">Delete Coffee Shop</a>
        {{else}}
            <button class="button" type="submit">Add Coffee Shop</button>
            <a href="{{pathFor 'admin'}}" class="delete button">Cancel</a>
        {{/if}}
    </form>
</template>


