<template name="coffeeshopList">
    {{> headerMobile pageTitle="Coffee Lover's Guide To Kauai"}}
    <div class="content">
        <ul>
            {{#each Coffeeshops}}
            <li class="coffeeshop">
                <a href="{{pathFor 'coffeeshopView'}}">
                    <div class="csphoto" style="background-image: url({{csimage}});">

                        <div class="cover">

                            <h1 class="coffeeco">{{name}}</h1>

                        </div>

                    </div>
                </a>
            </li>
            {{/each}}
        </ul>
    </div>

</template>

