<template name="coffeeshopView">
    {{#with coffeeshop}}

        {{> headerMobile pageTitle=name back=true}}

		<div class="content">
			<div class="csphoto" style="background-image: url({{csimage}});"></div>
			
			<div class="details">
				<h1>{{name}}</h1>
				<div class="description">
					{{textareaToHTML description}}
				</div>
				<div class="hours">
					<h3>Hours</h3>
					
					<h4>{{coffeeshopOpen}} Now</h4>

					{{#each coffeeshopHours}}
						{{dayString}}<br/>
					{{/each}}

				</div>
				<div class="contact-info">
					<h3>Contact Info</h3>
					Phone: {{coffeeshopPhone}}<br/>
					Address: {{coffeeshopAddress}}
				</div>
				
				{{#if lat}}
					<div class="map-container">
						{{> googleMap name="coffeeshopMap" options=coffeeshopMapOptions}}
					</div>
				{{/if}}
				
			</div>
		</div>
		
	{{/with}}
</template>