<template name="coffeeshopView">
    {{#with cafe}}

        {{> headerMobile pageTitle=name back=true}}

		<div class="content">
			<div class="csphoto" style="background-image: url({{csimage}});"></div>
			
			<div class="details">
				<h1>{{name}}</h1>
				<div class="description">
					{{textareaToHTML description}}
				</div>
				<div class="hours">
				{{#if hours}}
					<h3>Hours</h3>
					Mon: {{hours.mon}}<br/>
					Tue: {{hours.tue}}<br/>
					Wed: {{hours.wed}}<br/>
					Thu: {{hours.thu}}<br/>
					Fri: {{hours.fri}}<br/>
					Sat: {{hours.sat}}<br/>
					Sun: {{hours.sun}}<br/>
				{{/if}}
			
				</div>
				<div class="contact-info">
				
					{{#if phone}}
						<h3>Contact Info</h3>
						Phone: {{phone}}<br>
					{{/if}}
					
					{{#if streetAddress}}
						Address: {{streetAddress}} {{city}}, {{state}} {{zip}}
					{{/if}}
					
				</div>
				
				{{#if lat}}
					<div class="map-container">
						{{> googleMap name="coffeeshopMap" options=coffeeshopMapOptions}}
					</div>
				{{/if}}
				
			</div>
		</div>
		
	{{/with}}
</template>