/*****************************************************

 					APPLICATION
 
 *****************************************************/

/* BODY */


body, ul, li, h1, h2, h3, a, p, strong, input {
	margin: 0; 
	padding: 0;
}


body {
	background: #eee;
	font-family: "Avenir Next", Arial, sans-serif;
}

.content {
	margin-top: 70px; /* Offset fixed header. */
	margin-bottom: 70px; /* Offset fixed footer. */
	padding: 0 0 10px 0 !important;

}

.content p {
	padding: 10px; 
	font-size: 1em;
	color: #444;}

h1 {
	font-size: 2.3em;
	font-family: "Avenir Next", Arial, sans-serif;
	font-weight: 200;
	padding: 0;
	margin: 0;	
}

h2 {
	font-size: 2.3em;
	font-family: "Avenir Next", Arial, sans-serif;
	font-weight: 200;
}

h3 {
	font-size: 1.4em;
	font-family: "Avenir Next", Arial, sans-serif;
	font-weight: 200;
	margin: 0;
	padding: 0;
	display: inline;
}

a{
	text-decoration: none;
}

strong {font-weight: 400;}

img {
	max-width: 100%; 
	height: auto;
}



/* HEADER */

/* .bar {border: none !important;} */

.bar-nav  {
	width: 100%;
	height: 70px;
	background: #977350;
	box-sizing: border-box;
	padding-top: 15px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.bar-nav h1 {	
	color: white;
	font-weight: 400;
	font-size: 1.2em;
}

.icon-left-nav::before {color: white;}
.icon-right-nav::after {color: white;}


/* FLOATS */
.right {float: right;}
.left {float: left;}




/* HOMEPAGE */


.coffeeco {
	font-family: "Avenir Next", Arial, sans-serif;
	color: white;
	text-align: center;
	vertical-align: middle;
	padding: 180px 0 0 0;
	text-shadow: 0 0 3px black;
	font-weight: 400;

}

.csphoto {
	width: 100%;
	height: 400px;
	background-repeat: no-repeat; 
	background-position: center center; 
	background-size: cover;
}

.coffeeshop {
	padding: 10px 10px 0 10px;
}
.cover {width: 100%;
	height: 100%;
	background: rgba(0,0,0, 0.333);
	transition: 1s;

}
.cover:hover {
	background: rgba(0,0,0, 0.1);
	transition: 1s;
}

.details {
	padding: 20px;
	display: block;
	color: #444;
}


ul {list-style-type: none;}




/* FOOTER */

.bar-tab {
	background: #977350;
	height: 70px !important;
	border-top: 1px solid rgba(0, 0, 0, 0.3);
}

/* .tab-item {border-top: 1px solid rgba(0, 0, 0, 0.3);} */

.tab-item:first-of-type {border-right: 1px solid rgba(0, 0, 0, 0.3);}
.tab-item:last-of-type {border-left: 1px solid rgba(255, 255, 255, 0.3);}

.tab-item:active {
	background: #977350;
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
}

span.tab-label, .bar-tab .tab-item .icon ~ .tab-label{
	font-size: 0.9em;
	color: white;
	padding: 3px;
}

.icon-home::before, .icon-gear::before {
	color: white;
 }
 
.fa-coffee, .fa-book{
	 color: white;
	 font-size: 1.4em; 
	 text-align: center;
	 display: block;
 }
 
 

/*****************************************************

 					APP VIEWS 
 
 *****************************************************/

/* SINGLE COFFESHOP DETAILS */

.details h1 {
	text-align: center;
	border-bottom: 1px solid #999;
	width: 80%;
	padding-bottom: 10px;
	margin: 0 auto 20px;
}

.description {margin: 20px 0;}

.map-container {
	border: 1px solid #111;
	max-width: 100%;
	height: 400px;
}
.hours,
.contact-info {
	margin-bottom: 20px;
}
.details h3{
	margin-bottom: 20px;
	display: block;
}

/*****************************************************

 					ACCESS 
 
 *****************************************************/

.access-denied {
	text-align: center;
	margin: 20px auto;
}





/*****************************************************

 					ADMIN AREA 
 
 *****************************************************/

/* FORMS UI */

input {
	background: rgba(255,255,255,0.7);
	font-size: 14px;
	padding: 7px 10px;
	box-sizing: border-box;
	box-shadow: inset 0 0 5px #ddd;
	border: 1px solid #aaa;
	margin-bottom: 5px;
	width: 100%;
}

textarea {
	background: rgba(255,255,255,0.7);
	font-size: 14px;
	padding: 7px 10px;
	box-sizing: border-box;
	box-shadow: inset 0 0 5px #ddd;
	border: 1px solid #aaa;
	margin-bottom: 5px;
	width: 100%;
}

.button {
	display: inline-block;
	text-align: center;
	padding: 20px; 
	background: rgba(129,100,63, 1);
	color: white;
	font-size: 0.9em;
	box-sizing: border-box;
	width: 100%;
	border: none;
	margin: 10px 0;
	cursor: pointer;
	cursor: hand;
}

.half {width: 49%;}

.publish {display: none;}


.admin-form {
	margin: 20px;
}

.admin-form textarea {
	min-height: 200px;
}


/* ACCOUNTS UI */


.login{
	margin: 20px;
	position: absolute;
	top: 20px;
	left: 5px;
	text-transform: capitalize;
}

#login-buttons a {
	text-decoration: none;
}

.login-link-text {
	border: 1px solid #fff;
	padding: 5px 10px;
}




/* COFFEE SHOP LIST UI */


.admin-title {
	display: inline-block; 
	margin-top: 10px;
	font-weight: 400;
}

#update_name{
	display: inline-block; 
	max-width: 60%;
	margin-top: 10px;
	font-weight: 200;
	font-size: 1.7em;
	font-family: "Avenir Next", Arial, sans-serif;
	margin: 5px 0 0 0;
	padding: 0;
}

.admin-cafe-list {
	margin: 20px;
	color: #999;
	font-family: sans-serif;
	font-weight: 200;
	font-size: 1em;
	line-height: 1.2em;
}

.admin-cafe-list .coffeeshop {margin: 30px 0;}

.edit { 
	float: right;
	text-align: center;
	padding: 8px; 
	background: rgba(129,100,63, 1);
	color: white;
	font-size: 0.9em;
	box-sizing: border-box;
	width: 20%;
	border: none;
	margin-left: 5px;
}

.delete {color: #b00000; background: transparent;}

.add {
	width: 90%; 
	display: block;
	margin: 0 auto;
}
