/*****************************************************

 					APPLICATION
 
 *****************************************************/

/* BODY */


body, ul, li {
	margin: 0; 
	padding: 0;
}


body {
	background: #eee;
	padding: 0;
	margin: 0;	
	
}

h1 {
	font-size: 2.3em;
	font-family: "Avenir Next" Arial, sans-serif;
	font-weight: 200;
	padding: 0;
	margin: 0;	
}

h2 {
	font-size: 2.3em;
	font-family: "Avenir Next" Arial, sans-serif;
	font-weight: 200;
}

h3 {
	font-size: 1.04m;
	font-family: "Avenir Next" Arial, sans-serif;
	font-weight: 200;
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
}

strong {font-weight: 400;}



/* HEADER */

.logo {
	position: absolute; 
	top: 5px; 
	right: 5px;
}

.logo img {max-height: 80px; 
}

.headbar {
	width: 100%;
	height: 100px;
	background: rgba(129,100,63, 1);
	color: white;
	text-align: center;
}
.headbar h1{
	padding: 20px 0 0 0;
}



/* HOMEPAGE */


.coffeeco {
	color: white;
	text-align: center;
	vertical-align: middle;
	padding: 150px 0 0 0;
	text-shadow: 0 0 5px black;

}

.csphoto {
	width: 100%;
	height: 400px;
}

.intro {
	padding: 10px 10px 0 10px;
}
.cover {width: 100%;
	height: 100%;
	background: rgba(0,0,0, 0.3);
	transition: 1s;

}
.cover:hover {
	background: rgba(0,0,0, 0.1);
	transition: 1s;
}

.description,
.placeid {
	padding: 20px 0 0;
	display: block;
	text-align: center;
	color: #aaa;
	opacity: 0.3;
}


ul {list-style-type: none;}




/* FOOTER */

.footbar {
	width: 100%;
	height: 40px;
	background: rgba(129,100,63, 1);
	color: white;
	text-align: center;
	margin: 10px 0 0 0;
	padding: 10px; 
	box-sizing: border-box;
}

.footbar a {
	padding: 10px;
	color: white;
	text-align: center;
	text-decoration: none;
}


/*****************************************************

 					ADMIN AREA 
 
 *****************************************************/


.addnew {text-align: center; padding: 10px; border-bottom: 1px solid #aaa; margin-bottom: 10px;}

/* FORMS UI */

input {
	background: rgba(255,255,255,0.7);
	font-size: 14px;
	padding: 7px 10px;
	box-sizing: border-box;
	box-shadow: inset 0 0 5px #ddd;
	border: 1px solid #aaa;
	margin-bottom: 5px;
	width: 100%;
}

textarea {
	background: rgba(255,255,255,0.7);
	font-size: 14px;
	padding: 7px 10px;
	box-sizing: border-box;
	box-shadow: inset 0 0 5px #ddd;
	border: 1px solid #aaa;
	margin-bottom: 5px;
	width: 100%;
	min-height: 200px;
}

.button {
	padding: 20px; 
	background: rgba(129,100,63, 1);
	color: white;
	font-size: 0.9em;
	box-sizing: border-box;
	width: 100%;
	border: none;
}



.admin-cafe-form {
	margin: 20px;
}




/* ACCOUNTS UI */


.login{
	margin: 20px;
	position: absolute;
	top: 20px;
	left: 5px;
	text-transform: capitalize;
}

#login-buttons a {
	text-decoration: none;
}

.login-link-text {
	border: 1px solid #fff;
	padding: 5px 10px;
}




/* COFFEE SHOP LIST UI */


.admin-title {
	display: inline-block; 
	margin-top: 10px;
	font-weight: 400;
}

.admin-cafe-list {
	margin: 20px;
	color: #999;
	font-family: sans-serif;
	font-weight: 200;
	font-size: 1em;
	line-height: 1.2em;
}

.delete {opacity: 0.3;}
